<mat-card>
  <mat-card-title>Welcome, game masters!</mat-card-title>
  <mat-card-content>
    <div>Hi, I'm here to help you live memorable experiences!</div>
    <div>
      Start by choosing one or more of these AI generated adventure types, and
      settings:
    </div>
    <div class="mat-headline">Adventure types</div>
    <mat-accordion>
      @for (adv of adventureTypes; track adv.title) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ adv.title }}</mat-panel-title>
          </mat-expansion-panel-header>
          <dl>
            <dt>Description:</dt>
            <dd>{{ adv.description }}</dd>
            <dt>Keywords:</dt>
            <dd>{{ adv.keywords }}</dd>
            <dt>Example:</dt>
            <dd>{{ adv.example }}</dd>
            <dt>Suitable for:</dt>
            <dd>{{ adv.suitable }}</dd>
          </dl>
        </mat-expansion-panel>
      }
    </mat-accordion>
    <div class="mat-headline">Settings</div>
    <div class="mat-subtitle">Classic fantasy settings</div>
    <mat-accordion>
      @for (setting of classicSettings; track setting.title) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ setting.title }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div>{{ setting.description }}</div>
        </mat-expansion-panel>
      }
    </mat-accordion>
    <div class="mat-headline">More unique settings</div>
    <mat-accordion>
      @for (setting of uniqueSettings; track setting.title) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ setting.title }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div>{{ setting.description }}</div>
        </mat-expansion-panel>
      }
    </mat-accordion>
    <div class="mat-headline">Settings with a twist</div>
    <mat-accordion>
      @for (setting of twistSettings; track setting.title) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ setting.title }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div>{{ setting.description }}</div>
        </mat-expansion-panel>
      }
    </mat-accordion>
  </mat-card-content>
</mat-card>
